In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!find /content/drive -name "Dataset_Encoded_v1.csv"

/content/drive/MyDrive/Teleco-Customer-Churn-Analysis/Dataset_Encoded_v1.csv

In [ ]:
BASE_PATH = "/content/drive/MyDrive/Telco-Customer-Churn-Analysis"
DATA_PATH = f"{BASE_PATH}"

DATA_PATH

'/content/drive/MyDrive/Telco-Customer-Churn-Analysis'

In [ ]:
df = pd.read_csv(f"/content/drive/MyDrive/Teleco-Customer-Churn-Analysis/Dataset_ATS_v3_with_TotalCharges.csv")

df.head()

,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,MonthlyCharges,Churn,TotalCharges
0,Female,0,No,1,No,No,DSL,Month-to-month,25,Yes,25
1,Male,0,No,41,Yes,No,DSL,One year,25,No,1025
2,Female,0,Yes,52,Yes,No,DSL,Month-to-month,19,No,988
3,Female,0,No,1,Yes,No,DSL,One year,76,Yes,76
4,Male,0,No,67,Yes,No,Fiber optic,Month-to-month,51,No,3417

**Original dataset with scale problem for the numerical figures.**


*   This demonstrates the differences in range across the data.
*   Features containing larger magnitude.

In [ ]:
df_raw = pd.read_csv(f"/content/drive/MyDrive/Teleco-Customer-Churn-Analysis/Dataset_ATS_v3_with_TotalCharges.csv")

numerical_features = ['MonthlyCharges', 'TotalCharges', 'tenure']

df_raw[numerical_features].describe()

       MonthlyCharges  TotalCharges       tenure
count     6741.000000   6741.000000  6741.000000
mean        65.843495   2334.699006    32.945112
std         29.680059   2258.012286    24.333994
min         18.000000      0.000000     0.000000
25%         41.000000    450.000000    10.000000
50%         71.000000   1449.000000    30.000000
75%         90.000000   3871.000000    56.000000
max        119.000000   8568.000000    72.000000

**We should use StandardScaler as the primary scaler.**

Why StandardScaler Is the Right Choice-

- ANN benefits from zero-centered features

- Gradient-based optimization converges faster

- K-Means uses Euclidean distance â†’ sensitive to scale

- StandardScaler preserves outliers better than MinMax in telecom data

In [ ]:
DATA_PATH = "/content/drive/MyDrive/Teleco-Customer-Churn-Analysis/Dataset_Scaled_v1.csv"

df = pd.read_csv(f"/content/drive/MyDrive/Teleco-Customer-Churn-Analysis/Dataset_Scaled_v1.csv")

df.head()

,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,MonthlyCharges,Churn,TotalCharges
0,0,0,0,-1.312875,0,0,0,0,-1.376228,1,-1.022966
1,1,0,0,0.331038,1,0,0,1,-1.376228,0,-0.580066
2,0,0,1,0.783114,1,0,0,0,-1.578399,0,-0.596453
3,0,0,0,-1.312875,1,0,0,1,0.342225,1,-1.000378
4,1,0,0,1.399582,1,0,1,0,-0.500154,0,0.479351

**Evidence Code from US_2_4_Feature_Scaling_Normalization.ipnyb**

In [ ]:
scale_cols = ['MonthlyCharges', 'TotalCharges', 'tenure']
X_scale = df[scale_cols]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df_scaled = df.copy()
df_scaled[scale_cols] = scaler.fit_transform(X_scale)

**Evidence that the scaling has worked**

In [ ]:
numerical_features = ['MonthlyCharges', 'TotalCharges', 'tenure']
df_scaled[numerical_features].describe()

       MonthlyCharges  TotalCharges        tenure
count    6.741000e+03  6.741000e+03  6.741000e+03
mean    -2.160826e-17  2.318935e-17 -4.427058e-17
std      1.000074e+00  1.000074e+00  1.000074e+00
min     -1.612094e+00 -1.034039e+00 -1.353972e+00
25%     -8.371054e-01 -8.347336e-01 -9.429941e-01
50%      1.737492e-01 -3.922763e-01 -1.210377e-01
75%      8.139572e-01  6.804281e-01  9.475057e-01
max      1.791117e+00  2.760731e+00  1.605071e+00